Anopheles gambiae	/home/wikipathways/database/Ag_Derby_20101110.bridge
Aspergillus niger	/home/wikipathways/database/An_Derby_20110701.bridge
Arabidopsis thaliana	/home/wikipathways/database/At_Derby_20101110.bridge
Bos taurus	/home/wikipathways/database/Bt_Derby_20101110.bridge
Caenorhabditis elegans	/home/wikipathways/database/Ce_Derby_20101110.bridge
Canis familiaris	/home/wikipathways/database/Cf_Derby_20101110.bridge
Ciona intestinalis	/home/wikipathways/database/Ci_Derby_20101110.bridge
Drosophila melanogaster	/home/wikipathways/database/Dm_Derby_20101110.bridge
Danio rerio	/home/wikipathways/database/Dr_Derby_20101110.bridge
Escherichia coli K12	/home/wikipathways/database/Ec_Derby_20101110.bridge
Gallus gallus	/home/wikipathways/database/Gg_Derby_20101110.bridge
Homo sapiens	/home/wikipathways/database/Hs_Derby_20090720.bridge
Homo sapiens	/home/wikipathways/database/Hs_Derby_20110601.bridge
*	/home/wikipathways/database/metabolites_100227.bridge
Macaca mulatta	/home/wikipathways/database/Ml_Derby_20101110.bridge
Mus musculus	/home/wikipathways/database/Mm_Derby_20090720.bridge
Mus musculus	/home/wikipathways/database/Mm_Derby_20110603.bridge
Mycobacterium tuberculosis H37Rv	/home/wikipathways/database/Mx_Derby_20101110.bridge
Ornithorhynchus anatinus	/home/wikipathways/database/Oa_Derby_20101110.bridge
Oryza sativa	/home/wikipathways/database/Oj_Derby_20101110.bridge
Populus trichocarpa	/home/wikipathways/database/Pi_Derby_20101110.bridge
Pan troglodytes	/home/wikipathways/database/Pt_Derby_20101110.bridge
Rattus norvegicus	/home/wikipathways/database/Rn_Derby_20101110.bridge
Rattus norvegicus	/home/wikipathways/database/Rn_Derby_20110603.bridge
Saccharomyces cerevisiae	/home/wikipathways/database/Sc_Derby_20101110.bridge
Saccharomyces cerevisiae	/home/wikipathways/database/Sc_Derby_20110603.bridge
Sus scrofa	/home/wikipathways/database/Ss_Derby_20101110.bridge
Vitis vinifera	/home/wikipathways/database/Vv_Derby_20101110.bridge
Xenopus tropicalis	/home/wikipathways/database/Xt_Derby_20101110.bridge
